/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #f8f9fa;
}
section {
  margin: 20px;
}

h1 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: #45178d;
}

.navbar {
  color: white;
  background-color: #1d1e2b;
}

.navbar-brand {
  font-weight: 200;
}

.logo {
  position: relative;
  width: 100px;
  margin: 0;
  padding: 0;
}

.login {
  padding: 30px;
}

.login-title {
  text-align: center;
  margin: 30px 10px 10px;
}

.login-card {
  width: 300px;
  margin: 10vh auto;
  border-radius: 3px;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.btn-login {
  background-color: #45178d;
  color: white;
}

.btn-login:hover {
  color: rgb(201, 201, 201);
}
